.searchContainer {
    padding: 16px;
    border: solid 3px white;
    border-radius: 16px;
    display: flex;
    max-width: 1080px;
    height: 106px;
    margin: 0 auto 50px auto;
    background-color: white;
    -webkit-transform: translateY(-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.searchType {
    flex-grow: 1;
}
.searchType:not(:first-child) {
    margin-left: 16px;
}
.searchType label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}
.searchType input,
.searchType select {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
}
.searchType input[type="date"] {
    padding-left: 10px;
    padding-right: 10px;
}

.submit {
    margin-top:22px;
    margin-left: 8px;
}

.submit button {
    background: green;
    border: 0;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    color: #ffffff;
}
